:root {
  --hacker-green: rgb(6, 219, 6);
  --dark: #222;
  --light: rgba(105, 105, 105, 0.562);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  height: 100%;
}

#clock {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#title {
  color: var(--hacker-green);
  font-size: 5rem;
  font-family: fantasy;
  font-weight: 400;
}

#cubes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: inherit;
  background-color: dimgrey;
  border-radius: 1rem;
  padding: 0.5rem;
  border: 4px solid var(--hacker-green);
}

.sections {
  width: 200px;
  height: 200px;
  perspective: 400px;
  margin: 0.5rem;
}

.panel {
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(0deg);
  transform-origin: bottom;
  z-index: 1;
  border-bottom: 3px solid dimgray;
  transition: transform 1s;
}

.parts {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: var(--dark);
  backface-visibility: hidden;
  text-align: center;
  font-size: 10rem;
  overflow: hidden;
  color: var(--hacker-green);
  font-family: fantasy;
}

.parts-next {
  border-bottom: 3px solid gray;
  width: 100%;
  height: 50%;
  align-items: flex-start;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.parts-front {
  align-items: flex-start;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.parts-back {
  align-items: flex-end;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transform: rotateX(-180deg);
}

.parts-bottom {
  width: 100%;
  height: 50%;
  border-top: 3px solid gray;
  align-items: flex-end;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.flip {
  transform: rotateX(-180deg);
}

#scene {
  width: 100px;
  height: 100px;
  perspective: 600px;
  margin: 3rem;
}

.object {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  animation: spin 2s linear infinite;
  transform: translateZ(-150px) rotateZ(45deg) rotateY(0);
}

#spin3d {
  animation: spin3d 2s linear infinite;
  transform: translateZ(-150px) rotate3d(1, 1, 1, 0deg);
}

#spinWise {
  animation: spinWise 2s linear infinite;
  transform: translateZ(-150px) rotateZ(45deg);
}

.face {
  position: absolute;
  display: grid;
  grid-template-columns: 20px 20px 20px 20px 20px;
  grid-template-rows: 20px 20px 20px 20px 20px;
  width: 100%;
  height: 100%;
  font-size: xx-large;
  border-radius: 1rem;
  border: 5px solid var(--hacker-green);
}

.dot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--hacker-green);
}

.dot1 {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-column-end: 3;
  grid-row-end: 3;
}

.dot2 {
  grid-column-start: 2;
  grid-row-start: 3;
  grid-column-end: 3;
  grid-row-end: 4;
}

.dot3 {
  grid-column-start: 2;
  grid-row-start: 4;
  grid-column-end: 3;
  grid-row-end: 5;
}

.dot4 {
  grid-column-start: 4;
  grid-row-start: 2;
  grid-column-end: 5;
  grid-row-end: 3;
}

.dot5 {
  grid-column-start: 4;
  grid-row-start: 3;
  grid-column-end: 5;
  grid-row-end: 4;
}

.dot6 {
  grid-column-start: 4;
  grid-row-start: 4;
  grid-column-end: 5;
  grid-row-end: 5;
}

.dotM {
  grid-column-start: 3;
  grid-row-start: 3;
  grid-column-end: 4;
  grid-row-end: 4;
}

.face-front {
  background-color: var(--light);
  transform: rotateY(0deg) translateZ(50px);
}

.face-back {
  background-color: var(--light);
  transform: rotateY(180deg) translateZ(50px);
}

.face-right {
  background-color: var(--light);
  transform: rotateY(90deg) translateZ(50px);
}

.face-left {
  background-color: var(--light);
  transform: rotateY(-90deg) translateZ(50px);
}

.face-top {
  background-color: var(--light);
  transform: rotateX(90deg) translateZ(50px);
}

.face-bottom {
  background-color: var(--light);
  transform: rotateX(-90deg) translateZ(50px);
}

@keyframes spin {
  to {
    transform: translateZ(-150px) rotateZ(45deg) rotateY(360deg);
  }
}

@keyframes spinWise {
  to {
    transform: translateZ(-150px) rotateZ(45deg) rotateY(-360deg);
  }
}

@keyframes spin3d {
  to {
    transform: translateZ(-150px) rotate3d(1, 1, 1, -360deg);
  }
}

@media only screen and (max-width: 900px) and (min-width: 700px) {
  .sections {
    width: 150px;
    height: 150px;
  }

  .parts {
    font-size: 7.5rem;
  }
}

@media only screen and (max-width: 700px) and (min-width: 501px) {
  .sections {
    width: 100px;
    height: 100px;
  }

  .parts {
    font-size: 5rem;
  }

  #scene {
    width: 90px;
    height: 90px;
    margin: 2rem 1.5rem;
  }

  .face {
    grid-template-columns: 18px 18px 18px 18px 18px;
    grid-template-rows: 18px 18px 18px 18px 18px;
  }
}

@media only screen and (max-width: 500px) {
  #title {
    font-size: 3.5rem;
  }

  .sections {
    width: 80px;
    height: 80px;
  }

  .parts {
    font-size: 4rem;
  }

  #scene {
    width: 72px;
    height: 72px;
    margin: 2rem 1rem;
  }

  .face {
    grid-template-columns: 15px 15px 15px 15px 15px;
    grid-template-rows: 15px 15px 15px 15px 15px;
  }
}
